
<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head.ejs')%> 
<body>
    <!-- the line below is like components in react. it simplifies managing repeating codes. a file called nav.ejs has been created  to hold the repeating files -->
    <%- include('./partials/nav.ejs')%>

    <div class="not-found content"></div>

    <h2>OOPS, page not found</h2>


    <%- include('./partials/footer.ejs')%>     
</body>
</html>