
<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>
<body>
    <!-- the line below is like components in react. it simplifies managing repeating codes. a file called nav.ejs has been created  to hold the repeating files -->
    <%- include('./partials/nav.ejs')%>

    <div class="about content">

    <h2>About Us</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum mollitia modi minima, laboriosam, dolor recusandae esse, explicabo veniam commodi hic placeat magni cum. Laboriosam dolorum maxime nulla autem debitis.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum mollitia modi minima, laboriosam, dolor recusandae esse, explicabo veniam commodi hic placeat magni cum. Laboriosam dolorum maxime nulla autem debitis.</p><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit eum mollitia modi minima, laboriosam, dolor recusandae esse, explicabo veniam commodi hic placeat magni cum. Laboriosam dolorum maxime nulla autem debitis.</p>
</div>


<%- include('./partials/footer.ejs')%>     
</body>
</html>